button {
  font-size: 2rem;
}

h3 {
  text-align: center;
}

.container {
  max-width: 50%;
}

.operator {
  /*color: white;*/
  background-color: papayawhip;
}

#result, #equation {
  text-align: right;
}
