button {
  font-size: 2rem;
}

h3 {
  text-align: center;
}

.container {
  max-width: 50%;
}

.operator {
  /*color: white;*/
  background-color: papayawhip;
}

#result, #equation {
  text-align: right;
  border-radius: 4px;
  border: 1px solid #bbb;
  margin-bottom: 1rem;
  padding-right: 10px;
  background-color: #e2e0e0;
}

#result {
  font-size: 3rem;
}

p {
  margin-bottom: 0;
}
